<div class="max-w-sm mx-auto bg-gray-100 rounded-lg p-8">
    <h2 class="text-2xl font-bold mb-4 text-center" *ngIf="username">¡Bienvenido, {{ username }}!</h2>
    <h2 class="text-2xl font-bold mb-4 text-center" *ngIf="!username">¡Bienvenido!</h2>
    <div class="text-center">
      <button *ngIf="!username" routerLink="/login" class="bg-blue-500 hover:bg-blue-600 text-white rounded px-4 py-2">Iniciar sesión</button>
      <button *ngIf="!username" routerLink="/register" class="bg-blue-500 hover:bg-blue-600 text-white rounded px-4 py-2 ml-2">Registrarse</button>
      <button *ngIf="username" (click)="logout()" class="bg-red-500 hover:bg-red-600 text-white rounded px-4 py-2 mt-4">Cerrar sesión</button>
    </div>
  </div>
  